  <joint name="panda_joint8" type="fixed">
    <!--<origin rpy="0 0 0" xyz="0 0 0.107"/>-->
    <origin rpy="0 0 0" xyz="0 0 0.11"/>
    <!--Added offset for FT sensor-->
    <parent link="ft_sensor_link"/>
    <child link="panda_link8"/>
    <axis xyz="0 0 0"/>
  </joint>


  <!-- Connection Joints -->
  <joint name="panda_hand_joint" type="fixed">
    <parent link="panda_link8"/>
    <child link="panda_hand"/>
    <origin rpy="0 0 -0.785398163397" xyz="0 0 0"/>
  </joint>
