<?xml version="1.0" encoding="utf-8"?>

<robot  name="panda_w_tesollo" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:arg name="panda_file_prefix"  default="package://robot_description/panda"/>
  <xacro:arg name="tesollo_DG3F_file_prefix"  default="package://robot_description/tesollo"/>
  <xacro:arg name="name_prefix"  default=""/>
  
  <!-- Macros -->

  <xacro:include filename="$(arg panda_file_prefix)/panda.urdf.xacro"/>
  <xacro:include filename="$(arg tesollo_DG3F_file_prefix)/tesollo_DG3F.urdf.xacro"/>

  <xacro:panda name_prefix="$(arg name_prefix)" file_prefix="$(arg panda_file_prefix)"/>
  <xacro:tesollo_DG3F name_prefix="$(arg name_prefix)" file_prefix="$(arg tesollo_DG3F_file_prefix)"/>

  
  <!-- Connection Joints -->
  <!-- TODO: Check rotation and height -->
  <joint name="$(arg name_prefix)panda_gripper_joint" type="fixed">
    <parent link="$(arg name_prefix)panda_link8"/>
    <child link="$(arg name_prefix)delto_base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.106"/>
  </joint>


</robot>

