<?xml version="1.0" encoding="utf-8"?>

<robot  name="panda_w_kinect" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="panda_file_prefix"  default="package://robot_description/panda"/>
  <xacro:arg name="kinect_file_prefix"  default="package://robot_description/kinect"/>
  <xacro:arg name="ft_sensor_file_prefix"  default="package://robot_description/ft_sensor"/>
  <xacro:arg name="composite_file_prefix"  default="package://robot_description/ft_sensor"/>

 <!-- If a parent has NOT defined panda_file_prefix as a property,
        this sets it from the arg; otherwise the parent's property value stays. -->
  <xacro:property name="composite_file_prefix" value="$(arg composite_file_prefix)"/>


  <!-- Args for included files -->
  <xacro:property name="panda_file_prefix"  value="$(arg panda_file_prefix)"/>
  <xacro:property name="kinect_file_prefix" value="$(arg kinect_file_prefix)"/>
  <xacro:property name="ft_sensor_file_prefix" value="$(arg ft_sensor_file_prefix)"/>


  <xacro:include filename="${composite_file_prefix}/panda_w_ft.urdf.xacro"/>
  <xacro:include filename="${kinect_file_prefix}/kinect.urdf.xacro"/>

  
  <!-- Connection Joints -->
  <!-- TODO: Check if this is the correct position if use -->
  <joint name="camera_connection" type="fixed">
    <parent link="panda_link8"/>
    <child link="camera_base"/>
    <origin rpy="3.14 -1.57 -0.785" xyz="0.029 -0.056 0.01"/>
  </joint>


</robot>

