<?xml version="1.0" encoding="utf-8"?>

<robot  name="panda_w_hand" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="panda_file_prefix"  default="package://robot_description/panda"/>
  
  <!-- Args for included files -->
  <xacro:property name="panda_file_prefix"  value="$(arg panda_file_prefix)"/>

  <xacro:include filename="${panda_file_prefix}/panda_hand.urdf.xacro" />
  <xacro:include filename="${panda_file_prefix}/panda.urdf.xacro" />

  
  <!-- Connection Joints -->
  <joint name="panda_hand_joint" type="fixed">
    <parent link="panda_link8"/>
    <child link="panda_hand"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>


</robot>

