/* Task History tree */
.tree-node {
    position: relative;
    padding-left: 12px;
}

.tree-node::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 0;
    bottom: 0;
    border-left: 2px solid #aaa;
}

.tree-node > div::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 14px;
    width: 10px;
    border-top: 2px solid #aaa;
}

